- page = locals[:page]
#navigation
  - if page.sequence > 1
    .first
    = link_to (image_tag "page_images/first.jpg"), comic_page_path(page.comic, page.comic.first_page.id)
    .previous
      = image_tag "page_images/previous.jpg"
  - if page.is_last == false
    .next
      = link_to (image_tag "page_images/next.jpg"), comic_page_path(page.comic, page.next.id)
    .last
    = link_to (image_tag "page_images/today.jpg"), comic_page_path(page.comic, page.comic.last_page.id)