#navigation
  .first
    = image_tag "page_images/first.jpg"
  .previous
    = image_tag "page_images/previous.jpg"
  .next
    = image_tag "page_images/next.jpg"
  .last
    = image_tag "page_images/today.jpg"