- admin_user = locals[:user]
.panel
  %h3 
    = locals[:table_header]
  %table{ :border => "0", :cellspacing => "0", :cellpadding => "0" }
    .panel.contents
      %tr
        %th
          = admin_user.displayname
        %td
          - if admin_user.avatar.image != nil
            = image_tag(admin_user.avatar.image.resized.url)
          - else
            No Image